.dost
{
    background-color: ghostwhite;
    border-radius: 10px;
}
.gal{
    background-color: ghostwhite;
    border-radius: 10px;
}
.joi{
    Margin-left: 40px;
}
.gal1{
    background-color: ghostwhite;
    border-radius: 10px;
    Margin-left: 20px;
}